body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Baloo Bhai 2";
  width: 100%;
  height: 100%;
  color: #565656;

  /* Quita recuadro azul al hacer tap a botones -  version mobile */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.container{
  width: 100%;
  height: 100%;
  display: grid;
}

h1,h2, h3, h4,h5{
    margin: 0px;
  }

.header{
  position: sticky;
  top: 0;
  bottom: 0; 
  box-sizing: border-box;
  padding-top: 10px;
  background-color: #565656;
  color: #FFFFFF;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 30%;
  grid-template-areas: 'left right';
  justify-items: center;
  align-items: flex-start;
}

.header__name{
  grid-area: left;
}

.header h1{
  color: #04BF8A;
}
.header h5{
  margin-top: 6px;
}

.header__information{
  grid-area: right;
  font-size: 80%;
  justify-self: right;
  padding-right: 15px;
}

.contact__us{
  padding-top: 5px;
  border-bottom: 3px dotted #04BF8A;
}

.product{

  display: grid;
  width: 90%;
  justify-self: center;
  border-left: 3px dashed #565656;
  border-right: 3px dashed #565656;
}

.address{
  position: fixed;
  margin-left: 15%;
  width: 60%;
  text-align: center;
  border: 3px solid #04BF8A;
  border-top: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #565656;
  font-weight: 900;
  background-color: rgba(4, 191, 138, 0.9);

}

.product__view{
  margin-top: 80px;
  width: 90%;
  justify-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product__card{
  width: 225px;
  height: 350px;
  border: 3px solid #565656;
  border-radius: 8px;
  margin: 0px 20px;
  margin-bottom: 40px;
}

.product__card-image{
  height: 225px;
  width: 225px;
  background-size: cover;
  border-bottom: 3px dashed #04BF8A;
}

.product__card-image img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.product__card-description{
  height: 125px;
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button{
  background-color: #04BF8A;
  color: #FFFFFF;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 15px;
  border-bottom: 3px solid #07976e;
  cursor: pointer;
  outline: none;
}

.footer{
  box-sizing: border-box;
  display: grid;
  background-color: #04BF8A;
  color: #FFFFFF;
  grid-template-columns: 1fr 1fr;
  font-size: 90%;
}

.footer__left{
  justify-self: left;
  padding-left: 4%;
  text-align: center;
}

.footer__left h2{
  height: 25px;
}


.footer-right{
  justify-self: right;
  font-size: 90%;
  padding-right: 11%;
  text-align: center;
}


@media screen and (max-width: 768px){
.header__information{
  font-size: 70%;
}
}

@media screen and (max-width: 480px){

  .header{
    grid-template-areas:  'left left'
                          'right right';

    padding: 0px;
  }

  .header h5{
    margin-bottom: 6px;
  }

  .header__information{
    border-top: 2px dotted #04BF8A;
    font-size: 80%;
    justify-self: center;
    padding: 0px;
    font-size: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 18px 18px;
    height: auto;
    justify-items: stretch;
  }

  .contact__us{
    border: 0px;
    align-self: center;
  }

  .footer{
    font-size: 70%;
  }

  .address{
    font-size: 75%;
  }

  }

