body{
  margin:0;
  background-color: #f0f0f0;
  font-family: "Baloo Bhai 2";
  width: 100%;
  height: 100%;
  
  /* Quita recuadro azul al hacer tap a botones -  version mobile */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* HEADER */
header {
  height: 80.8px;
  width: 100%;
  background-color: #04BF8A;
  color: white;
  font-weight: 800;
  font-size: 40px;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 5px solid #07976E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header span{
  padding-left: 15px;
}

header img{
  padding-right: 15px;
  cursor: pointer;
}


/* IMAGES GENERAL */
img{
  width: 50px;
}



/* CONTAINER */
.message{
  width: 90%;
  font-weight: 600;
  font-size: 40px;
  padding-left: 20px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.container{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__1{
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container__2{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.input {
  height: 50px;
  width: 70%;
  border-radius: 15px;
  font-family: "Baloo Bhai 2";
  color: #565656;
  font-size: 20px;
  outline: none;
  border: none;
  margin-top: 30px;
  padding-left: 15px;

}


.div-button{
  width: 100%;
  display: flex;

}

.div-button-content1{
  padding-left: 20px;
  height: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
}

.div-button-content2{
  height: 200px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
}

.div-button-content2 button{
  margin-left: 65px;
}

.div-button2{
  height: 100%;
  width: 100%;
}
.div-button2 button{
  height: 100%;
  width: 100%;
}


.button {
  background-color: #04BF8A;
  width: 40%;
  height: 60px;
  border-radius: 15px;
  outline: none;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-bottom: 4px solid #07976E;
  cursor: pointer;
}

.button2{
  background-color: #BC1212;
  border-bottom: 4px solid #840909;
  padding: 5px;
}

@media screen and (max-width: 768px){
  .div-button-content2 button{
    margin-left: 35px;
  }

}

@media screen and (max-width: 480px){
  .input {
    width: 80%;
    font-size: 30px;
  }

  .container{
    flex-direction: column;
  }

  .container__1{
    width: 100%;
    justify-content: center;
  }

  .container__2{
    width: 100%;

  }
  
.button {
  width: 60%;
  height: 60px;
  font-size: 20px;
}

.div-button-content2 button{
  margin-left: 15px;
}

.div-button-content1{
  padding-left: 0px;

}

}


@media screen and (max-width: 320px){
  header{
    font-size: 20px;
  }

  img {
    width: 30px;
  }

  .message{
    font-size: 25px;
  }

  .input {
    width: 80%;
    font-size: 20px;
  }

  
.button {
  width: 70%;
  height: 60px;
  font-size: 17px;
}

.div-button-content2 button{
  margin-left: 15px;
}

.div-button-content1{
  padding-left: 0px;

}

}