body {
  box-sizing: border-box;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Baloo Bhai 2";
  width: 100%;
  height: 100%;
  color: #565656;

  /* Quita recuadro azul al hacer tap a botones -  version mobile */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h2, h3, h4 {
  margin: 0;;
}

.container{
  width: 100%;
  height: 100%;
  display: grid;
}


.header{
  height: 80px;
  display: grid;
  background-color: #565656;
  color: white;
  grid-template-columns: 15% 1fr 15%;
  justify-items: center;
  align-items: center;
}

.header__back{
  display: flex;
  justify-content: center;
}
.header__back img{
  width: 20%;
  cursor: pointer;
}

.header p {
  text-align: center;
  margin:0;
  font-size: 200%;
}

.header__name{
  width: 100%;
  border-left: 1px solid #fffffF;
  border-right: 1px solid #fffffF;
  color: #04BF8A;
  font-weight: bold;
}

.container__product{
  display: grid;
  justify-items: center;
  align-items: center;
}

.container__product-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'left right';
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 2px dashed #565656;
  padding: 40px 0px;
}

.big__image{
  grid-area: left;
  display: flex;
  justify-content: center;
  
}

.big__image img{
  border-radius: 18px;
  border: 3px solid #04BF8A;
  width: 60%;
  height:60%;
  background-size: cover;

}


.small__image{
  grid-area: right;
  justify-self: center;

  width: 90%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.small__image img{
  width: 70px;
  height: 70px;
  background-size: cover;
  margin: 15px;
  border: 1.7px solid #565656;
  border-radius: 5px;
  cursor: pointer;

}

.container__product-description{
  margin: 40px 0px;
  width: 60%;
  font-size: 150%;
  text-align: center;
}


.footer{
  box-sizing: border-box;
  display: grid;
  background-color: #04BF8A;
  color: #FFFFFF;
  grid-template-columns: 1fr 1fr;
  font-size: 90%;
}

.footer__left{
  justify-self: left;
  padding-left: 4%;
  text-align: center;
}

.footer__left h2{
  height: 25px;
}


.footer-right{
  justify-self: right;
  font-size: 90%;
  padding-right: 11%;
  text-align: center;
}


@media screen and (max-width: 768px){
  .small__image{
    height: 90%;
  }

  .container__product-description{
    width: 80%;
  }  

  }

  @media screen and (max-width: 480px){
    .header{
      height: 80px;
      grid-template-columns: 18% 1fr 18%;
    }

    .header__name p{
      font-size: 150%;
    }

    .header__price p{
      font-size: 110%;
    }
    .footer{
      font-size: 70%;
    }
  
    .address{
      font-size: 75%;
    }

    .container__product-description{
      font-size: 100%
    }  

    .container__product-images{
      grid-template-areas: 'left left'
                            'right right';
    }
  
    }
